@import 'bootstrap.min.css';
@import './nav.scss';
@import './pic.scss';

body {
  background-color: #ccc;
}

.c-hide {
  display: none;
}

.preloader {
  text-align: center;
  margin-bottom: 30px;
}
a:focus {
  outline: none;
}
