@import "./flexbox.scss";

.grid {
  margin: 0 auto;
}

.grid-item {
    background-color: #f8f8f8;
    padding: 5px;
    width: 190px;
    text-align: center;
    margin: 5px;
    box-shadow: 2px 2px 5px rgba(#666, 0.5);
    &:hover {
      box-shadow: 5px 5px 7px rgba(#666, 0.5);

    }
    .main-img {
      div.preloader {
        width: 180px;
        background-color: #e8e8e8
      }
      img.hidden {
        display: none
      }
      img {
        width: 180px;
        background-color: #e8e8e8;
      }
      p {
        background-color:  #e8e8e8;
        margin-top: 5px;
        padding: 5px;
        font-size: 0.9em;
        color: #444;
        width: 100%;
        word-wrap: break-word;
      }
    }
    .info {
      background-color: #e8e8e8;
      margin-top: 5px;
      padding: 5px;
      @include flexbox;
      @include align-items(center);
      @include justify-content(space-between);
      img {
        width: 35px;
      }
      .like{
        color: #444;
      }
      .liked {
        color: #4183D7;
      }
    }
}
